@charset "ISO-8859-1";
input{
    height: 35px;
   	width: 250px;
    border-radius: 10px;
    border: none;
    box-shadow: 7px 7px 9px black;
  
}


button{
    height: 38px;
    width: 250px;
    border-radius: 10px;
    border: none;
    box-shadow: 7px 7px 9px black;
    background-color : #71ff71;
}
body {
	background-image: url("../images/1111.webp");
	background-size: cover;
}
center {
	text-align: right;
}
div {
	height:600px;
	width: 1200px;
}
h1 {
	
	color: white;
	text-shadow: 4px 4px 4px black;
}
h5 {
	color: white;
	text-shadow: 4px 4px 4px black;
}
p{
	color: white;
}